:root {
    --branco: #FFFFFF;
    --azul_escuro: #14275A;
    --azul_claro: #3553A6;
    --cinza: #DADADA;

    --fonte-grande: 1.562rem;
    --fonte-media: 1.250rem;
    --fonte-pequena: 1.000rem;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

header {
    background-color: var(--azul_escuro);
    height: 10vh;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--branco);
    margin: 5px;
    transition: 0.3s;
}

.burger.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.burger.active .line2 {
    opacity: 0;
}
  
.burger.active .line3 {
    transform: rotate(45deg) translate(-4px, -4px);
}

.nav_list {
    display: flex;
}

.nav_list.active {
    transform: translateX(0%);
}

.nav_list__itens {
    margin-left: 5%;
}

.nav_list__itens a {
    display: flex;
    gap: 8px;
    color: var(--branco);
    font-size: var(--fonte-pequena);
    font-weight: medium;
    text-decoration: none;
    transition: 0.5s;
}

.nav_list__itens a:hover {
    opacity: 0.75;
}

.imagem_logo_header {
    width: 5rem;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.secao_sobre {
    padding: 5% 12%;
    background: linear-gradient(180deg, #162A61 0%, #688CEE 100%);
}

.secao_sobre__titulo {
    font-size: var(--fonte-grande);
    font-weight: 500;
    color: var(--branco);
    text-align: center;
}

.secao_sobre__subtitulo {
    font-size: var(--fonte-media);
    font-weight: 400;
    color: var(--branco);
}

.secao_sobre__conteudo {
    font-size: var(--fonte-pequena);
    font-weight: 300;
    color: var(--branco);
}

.secao_contato {
    padding-top: 32px;
    text-align: center;
}

.secao_contato__titulo {
    font-size: var(--fonte-media);
    font-weight: 400;
}

.secao_contato__conteudo a {
    text-decoration: none;
    color: var(--azul_claro);
    transition: 0.5s;
}

.secao_contato__conteudo a:hover {
    opacity: 0.80;
}

.secao_localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 0 32px 0;
}

.secao_localizacao__titulo {
    font-size: var(--fonte-media);
    font-weight: 400;
}

.secao_localizacao__mapa {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--cinza), 0 6px 20px 0 var(--cinza);
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
    background-color: var(--cinza);
}

.imagem_logo_footer {
    width: 4rem;
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .burger {
        display: block;
    }

    .nav_list {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 50%;
        height: 90vh;
        padding: 1rem 10%;
        background-color: var(--azul_escuro);
        flex-direction: column;
        gap: 2rem;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav_list__itens {
        opacity: 0;
    }
}

@media (max-width: 500) {
    .nav_list__itens {
        opacity: 0;
    }

    .secao_sobre {
        padding: 5% 5%;;
    }
}